In [4]:
#task-1
class Student:
    Id = 0
    def __init__(self,name,dept,age,cgpa):
        self.name = name
        self.dept = dept
        self.age = age
        self.cgpa = cgpa
        Student.Id +=1
    def showDetails(self):
        print(f"Id:{Student.Id}\nName:{self.name}\nDepartment:{self.dept}\nAge:{self.age}\nCgpa:{self.cgpa}")
    @classmethod
    def from_String(cls,str):
        name,dept,age,cgpa = str.split("-")
        return cls(name,dept,cgpa,age)

#driver code
s1 = Student("Samin", "CSE", 21, 3.91)
s1.showDetails()
print("-----------------------")
s2 = Student("Fahim", "ECE", 21, 3.85)
s2.showDetails()
print("-----------------------")
s3 = Student("Tahura", "EEE", 22, 3.01)
s3.showDetails()
print("-----------------------")
s4 = Student.from_String("Sumaiya-BBA-23-3.96")
s4.showDetails()

Id:1
Name:Samin
Department:CSE
Age:21
Cgpa:3.91
-----------------------
Id:2
Name:Fahim
Department:ECE
Age:21
Cgpa:3.85
-----------------------
Id:3
Name:Tahura
Department:EEE
Age:22
Cgpa:3.01
-----------------------
Id:4
Name:Sumaiya
Department:BBA
Age:3.96
Cgpa:23

In [5]:
#task-2
class Passenger:
    count = 0
    def __init__(self,name):
        self.name = name
        Passenger.count +=1
        self.fare = 450
    def set_bag_weight(self,w):
        if w <= 20:
            pass
        elif 20<w<=50:
            self.fare+=50
        elif w>50:
            self.fare+=100
    def printDetail(self):
        print("Name:{}\nFare:{}".format(self.name,self.fare))

#driver code
print("Total Passenger:", Passenger.count)
p1 = Passenger("Jack")
p1.set_bag_weight(90)
p2 = Passenger("Carol")
p2.set_bag_weight(10)
p3 = Passenger("Mike")
p3.set_bag_weight(25)
print("=========================")
p1.printDetail()
print("=========================")
p2.printDetail()
print("=========================")
p3.printDetail()
print("=========================")
print("Total Passenger:", Passenger.count)

Total Passenger: 0
=========================
Name:Jack
Fare:550
=========================
Name:Carol
Fare:450
=========================
Name:Mike
Fare:500
=========================
Total Passenger: 3

In [6]:
#task-3
class Travel:
    count = 0
    def __init__(self,form1,to):
        self.__form1 = form1
        self.__to = to
        Travel.count+=1
        self.__time = 1
    def set_time(self,time):
        self.__time = time
    def set_source(self,mfrom):
        self.__form1 = mfrom
    def set_destination(self,to2):
        self.__to = to2
    def display_travel_info(self):
        return "Source:{}\nDestination:{}\nFlight Time:{}:00".format(self.__form1, self.__to, self.__time)

#driver code
print("No. of Traveller =", Travel.count)
print("=======================")
t1 = Travel("Dhaka","India")
print(t1.display_travel_info())
print("=======================")
t2 = Travel("Kuala Lampur","Dhaka")
t2.set_time(23)
print(t2.display_travel_info())
print("=======================")
t3 = Travel("Dhaka","New_Zealand")
t3.set_time(15)
t3.set_destination("Germany")
print(t3.display_travel_info())
print("=======================")
t4 = Travel("Dhaka","India")
t4.set_time(9)
t4.set_source("Malaysia")
t4.set_destination("Canada")
print(t4.display_travel_info())
print("=======================")
print("No. of Traveller =", Travel.count)

No. of Traveller = 0
=======================
Source:Dhaka
Destination:India
Flight Time:1:00
=======================
Source:Kuala Lampur
Destination:Dhaka
Flight Time:23:00
=======================
Source:Dhaka
Destination:Germany
Flight Time:15:00
=======================
Source:Malaysia
Destination:Canada
Flight Time:9:00
=======================
No. of Traveller = 4

In [7]:
#task-4
class Student:
    total_students = 0
    bracu_students = 0
    other_students = 0
    def __init__(self,name,dept,school = "BRAC University"):
        self.name = name
        self.school = school
        self.dept = dept
        Student.total_students +=1
        if self.school == "BRAC University":
            Student.bracu_students+=1
        else:
            Student.other_students += 1

    def individualDetail(self):
        print(f"Name: {self.name}\nDepartment: {self.dept}\nInstitution: {self.school}")
    @classmethod
    def createStudent(cls,name,dept,inst="BRAC University"):
        return cls(name,dept,inst)
    @classmethod
    def printDetails(cls):
        print(f"Total Students: {Student.total_students}\nBRAC University Students: {Student.bracu_students}\nOther institution students: {Student.other_students}")


#driver code
Student.printDetails()
print('#########################')

mikasa = Student('Mikasa Ackerman', "CSE")
mikasa.individualDetail()
print('------------------------------------------')
Student.printDetails()

print('========================')

harry = Student.createStudent('Harry Potter', "Defence Against Dark Arts", "Hogwarts School")
harry.individualDetail()
print('-------------------------------------------')
Student.printDetails()

print('=========================')

levi = Student.createStudent("Levi Ackerman", "CSE")
levi.individualDetail()
print('--------------------------------------------')
Student.printDetails()

Total Students: 0
BRAC University Students: 0
Other institution students: 0
#########################
Name: Mikasa Ackerman
Department: CSE
Institution: BRAC University
------------------------------------------
Total Students: 1
BRAC University Students: 1
Other institution students: 0
========================
Name: Harry Potter
Department: Defence Against Dark Arts
Institution: Hogwarts School
-------------------------------------------
Total Students: 2
BRAC University Students: 1
Other institution students: 1
=========================
Name: Levi Ackerman
Department: CSE
Institution: BRAC University
--------------------------------------------
Total Students: 3
BRAC University Students: 2
Other institution students: 1